.grid {
    display: grid;
    grid-template-columns: 2% 3% 90% 3% 2%;
}

.grid img {
    height: auto;
    width: 100%;
    grid-column: 3/span 1;
    transition: box-shadow 0.3s ease;
}

.grid img:hover {
    box-shadow: 10px 10px;
}

.grid > :nth-child(even) {
    border: 5px dashed orange;
}

.item7 {
    grid-column: 1/-1;
}

.grid .item1 {
    border: solid green 5px;
    padding: 10px;
}


@media all and (min-width: 500px) {
    Text-decoration: none;
    }
    